/* google fonts work sans link */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* shared styles  */
.display_flex {
  display: flex;
}
.text_primary {
  color: #ff900e;
}
/* dark 02 */
.text_gray {
  color: #424242;
}
/* dark 03 */
.text_light_gray {
  color: #727272;
}
.primary_bg_light {
  background-color: rgba(255, 144, 14, 0.1);
}
.btn_primary {
  border-radius: 8px;
  background: rgb(255, 144, 14);
  color: white;
  border: none;
  font-size: 1.25rem;
  padding: 20px 25px;
  font-weight: 600;
  cursor: pointer;
}
main {
  max-width: 1440px;
  margin: 0 auto;
}
main > section {
  margin-top: 130px;
}

/* our features contents */
.section_title {
  font-size: 2.8rem;
  font-weight: 500;
  line-height: 53px;
  letter-spacing: 0%;
  text-align: left;
}
/* .secondary_bg{
    background-color: ;
} */

/* header styles */

/* main section styles */

/* navbar related styles */
.navbar {
  justify-content: space-between;
  align-items: center;
}
.nav_item {
  list-style: none;
  margin-right: 30px;
}
.brand {
  font-weight: 700;
  font-size: 3rem;
  text-align: center;
}
.nav_link {
  text-decoration: none;
  font-weight: 500;
  color: rgb(66, 66, 66);
  font-size: 18px;
}
.navbar,
.banner {
  max-width: 1140px;
  margin: 0 auto;
}

/* banner related styles */
.banner_content {
  max-width: 850px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}
.banner_title {
  font-weight: 700;
  font-size: 4rem;
}
.banner_img {
  width: 100%;
}

/* team and features related styles */

.teams {
  align-items: center;
}
.team_img_container {
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}
.our_features {
  margin-left: 130px;
  max-width: 530px;
}

#quick_list {
  font-weight: 500;
}
/* some facts styles */
.facts_container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.fact_card {
  border: 1px solid #ff900e;
  border-radius: 8px;
  width: 240px;
  height: 240px;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.fact_number {
  font-size: 2.7rem;
  font-weight: 600;
  margin-top: 5px;
  margin-bottom: 10px;
}
.fact_name {
  font-size: 1.25rem;
  font-weight: 600;
  margin-top: 10px;
}
.fact_description {
  max-width: 540px;
}

/* responsive media query */
@media screen and (min-width: 320px) and (max-width: 576px) {
  .navbar,
  .nav_links,
  .teams {
    flex-direction: column;
  }
  .teams_img_container,
  .facts_container {
    grid-template-columns: repeat(1, 1fr);
  }
  .facts_container {
    justify-items: center;
    gap: 24px;
  }
  .our_features {
    margin-left: 20px;
    max-width: 100%;
  }
}
/* medium size responsive */
@media screen and (min-width: 577px) and (max-width: 992px) {
  .teams {
    flex-direction: column;
  }
  .team_img_container {
    margin: 0 auto;
    max-width: 100%;
  }
  .our_features {
    margin-left: 20px;
    max-width: 100%;
  }
}
